/*
!/.gitignore
!/k3s/
!/k3s/**
k3s/.vagrant

**/*.secret
**/*.pem
**/*.jks
**/*.p12
**/*.key
**/*.crt
**/*.csr
**/*.srl
**/*.cnf

**/secrets.json
**/secrets/*.txt
**/secrets/*.properties
**/secrets/*.json

**/opensearch_certs/
**/redis/certs/
**/*.pem
**/*.jks
**/*.p12
**/*.key
**/*.crt

.env
*.env
.env.*
!.env.example

/vagrant/
/tokens/
*.box

k3s.yaml
*kubeconfig*
*.kubeconfig

*.tmp
*.log
*.bak
*.swp
*.swo
*~
.DS_Store